build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
ios/Pods/
android/.gradle/
android/local.properties
*.iml
.idea/
.vscode/
.DS_Store
*.log
.flutter/
monet/
*.apk
*.aab
*.h
*.so
.last_build_id
